/* basic reset */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    // defines what 1 rem is
    // making everything in the site scales a bit better if rem is used
    font-size: 62.5%; // 62.5% of the default 16px = 10px so 1rem = 10px

    // order matters when the size queries conflict, large before smaller ones for max width
    @include respond(tab-land){ // width < 900?
        font-size: 56.25%; // 1 rem = 9px
    }
    @include respond(tab-port){ // width < 600?
        font-size: 50%; // 1 rem = 8px
    }
    @include respond(phone){ // width < 600?
        font-size: 30%; // 1 rem = 8px
    }
    @include respond(big-desktop){
        font-size: 80%; // 1 rem = 12px
    }
}

body {
    box-sizing: border-box;
    /* adds padding around entire page */
    padding: 3rem;

    @include respond(tab-port){ // width < 600?
        padding: 0;
    }
}